{
  "plugins": [
    "prettier-plugin-sql",
    "@prettier/plugin-xml",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.sql"
      ],
      "options": {
        "parser": "sql",
        "language": "postgresql",
        "keywordCase": "upper",
        "identifierCase": "preserve"
      }
    }
  ]
}
